## https://realpython.com/python-data-cleaning-numpy-pandas/#toc

In [27]:
>>> import pandas as pd
>>> import numpy as np

file_name = "./dat/BL-Flickr-Images-Book.csv"
df = pd.read_csv(file_name)
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [28]:
# 1.	Eliminació de columnes en un dataframe.
to_drop = ['Edition Statement',
         'Corporate Author',
         'Corporate Contributors',
         'Former owner',
         'Engraver',
         'Contributors',
         'Issuance type',
         'Shelfmarks']

df.drop(to_drop, inplace=True, axis=1)

In [29]:
### NOTA PER MI, ALS ALUMNES PASSR NOMÉS FINS AQUI
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [30]:
# 2.	Canviar l’index d’un dataframe
df = df.set_index('Identifier')

In [31]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [34]:
#3.	Endreçar camps a les dades
df.loc[1851:, 'Date of Publication'].head(5)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
Name: Date of Publication, dtype: object

In [39]:
#4.	Combinant mètodes str amb numpy per netejar columnes
pub = df['Place of Publication']
london = pub.str.contains('London')
oxford = pub.str.contains('Oxford')
london[:5]
oxford[:5]

Identifier
206    False
216    False
218    False
472    False
480    False
Name: Place of Publication, dtype: bool

In [40]:
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))

In [59]:
df.head(100)

,Place,Date,Promotor,Book,Writer,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...
36521,Edinburgh,1857,James Nichol,[The Poetical Works of Mark Akenside ... With ...,"Akenside, Mark",http://www.flickr.com/photos/britishlibrary/ta...
36531,Napoli,1821,NaN,[Hymn to the Naiads.] Alle Najadi. Inno alla G...,"AKENSIDE, Mark.",http://www.flickr.com/photos/britishlibrary/ta...
36721,London,1897,Bliss & Sands,Triscombe Stone: a romance of the Quantock Hil...,"AKERMAN, Portland Board - and HURST (Norman)",http://www.flickr.com/photos/britishlibrary/ta...
38673,Ἐν Κερκυρᾳ,1891,NaN,Κερκυραϊκα ἀπομνημονευματα. [Edited by I. De...,"ALBANAS, Phriderikos.",http://www.flickr.com/photos/britishlibrary/ta...
38986,London,1827,William Marsh,Scenes and Occurrences in Albany and Cafferlan...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

In [89]:
df = df.dropna()

In [90]:
df.head(100)

,Place,Date,Promotor,Book,Writer,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...
101363,London,1801,J. Wright,[Cupid & Psyche. A mythological tale from the ...,Apuleius.,http://www.flickr.com/photos/britishlibrary/ta...
101366,Great Yarmouth,1844,Charles Sloman,"Cupid and Psyche: a mythological tale, from th...",Apuleius.,http://www.flickr.com/photos/britishlibrary/ta...
103877,London,1877-96,E. Arber; A. Constable & Co.,An English Garner. Ingatherings from our histo...,"ARBER, Edward.",http://www.flickr.com/photos/britishlibrary/ta...
106624,London,1887,J. W. Jarvis & Son,"Arden of Feversham, a tragedy: reprinted from ...","ARDEN, Thomas - of Faversham",http://www.flickr.com/photos/britishlibrary/ta...
111669,London,1809,The Translator,"The History of Animals of Aristotle, and his T...",Aristotle.,http://www.flickr.com/photos/britishlibrary/ta...

In [75]:
df['Date'].dtypes

dtype('O')

In [98]:
#5. neteja de tot el conjunt de dades mitjançant la funció applymap
import pandas as pd

def get_Co(item):
    s = str(item)
    print(s)
  #  if ' & Co.' in s:
  #      return s[:s.find('')]
  #  else:
    return s

In [99]:
ap_map_df =  df['Book'].applymap(get_Co)

AttributeError: 'Series' object has no attribute 'applymap'

In [85]:
df.applymap(lambda x: len(str(x)))

            Place  Date  Promotor  Book  Writer  Flickr URL
Identifier
206             6    11        16    33       5          64
216             6     4        12   107       9          64
218             6     4        21   135       9          64
472             6     4        13   160       9          64
480             6     4        20   119       9          64
...           ...   ...       ...   ...     ...         ...
4158088         6     4         3   275      34          64
4158128         5     8        15   380      26          64
4159563         6     9        23   140      56          64
4159587        19     4        16   132      21          64
4160339         6     7         3   127       3          64

[8287 rows x 6 columns]

In [55]:
#6. Canviar el nom de columnes i ometre files
new_names =  {'Place of Publication': 'Place',
              'Date of Publication': 'Date',
              'Publisher': 'Promotor',
              'Title': 'Book',              
              'Author': 'Writer'}

In [56]:
df.rename(columns=new_names, inplace=True)

In [57]:
df.head()

,Place,Date,Promotor,Book,Writer,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:
#7. Neteja de dades de Python: resum i recursos