In [332]:
#!pip install pandas
#!pip install numpy
import pandas as pd
import glob
import numpy as np

In [333]:
#!wget https://datosclima.es/capturadatos/Aemet2019-01.rar

In [334]:
all_files = glob.glob("aemet/Aemet2019-*.xls")

In [335]:
print(all_files)

['aemet\\Aemet2019-01-01.xls', 'aemet\\Aemet2019-01-02.xls', 'aemet\\Aemet2019-01-03.xls', 'aemet\\Aemet2019-01-04.xls', 'aemet\\Aemet2019-01-05.xls', 'aemet\\Aemet2019-01-06.xls', 'aemet\\Aemet2019-01-07.xls', 'aemet\\Aemet2019-01-08.xls', 'aemet\\Aemet2019-01-09.xls', 'aemet\\Aemet2019-01-10.xls', 'aemet\\Aemet2019-01-11.xls', 'aemet\\Aemet2019-01-12.xls', 'aemet\\Aemet2019-01-13.xls', 'aemet\\Aemet2019-01-14.xls', 'aemet\\Aemet2019-01-15.xls', 'aemet\\Aemet2019-01-16.xls', 'aemet\\Aemet2019-01-17.xls', 'aemet\\Aemet2019-01-18.xls', 'aemet\\Aemet2019-01-19.xls', 'aemet\\Aemet2019-01-20.xls', 'aemet\\Aemet2019-01-21.xls', 'aemet\\Aemet2019-01-22.xls', 'aemet\\Aemet2019-01-23.xls', 'aemet\\Aemet2019-01-24.xls', 'aemet\\Aemet2019-01-25.xls', 'aemet\\Aemet2019-01-26.xls', 'aemet\\Aemet2019-01-27.xls', 'aemet\\Aemet2019-01-28.xls', 'aemet\\Aemet2019-01-29.xls', 'aemet\\Aemet2019-01-30.xls', 'aemet\\Aemet2019-01-31.xls']

In [336]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\francisco\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [337]:
file_list = []
for f in all_files:
    data = pd.read_excel(f,skiprows=4)
    data['source_file'] = f # nueva columna conteniendo el nombre del fichero leido
    file_list.append(data)
df = pd.concat(file_list)

In [338]:
df.shape
(24707, 13)

(24707, 13)

In [339]:
df.head()

,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),source_file
0,Estaca de Bares,A Coruña,11.0 (20:20),8.7 (04:10),9.8,61 (16:30),39 (18:40),0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls
1,As Pontes,A Coruña,13.9 (14:50),-0.8 (07:30),6.5,NaN,NaN,0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls
2,A Coruña,A Coruña,13.9 (14:50),5.1 (07:10),9.5,15 (02:20),10 (02:20),0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls
3,A Coruña Aeropuerto,A Coruña,14.2 (14:50),0.0 (09:30),7.1,24 (23:10),15 (04:00),0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls
4,"Carballo, Depuradora",A Coruña,16.0 (15:50),-2.8 (08:40),6.6,NaN,NaN,0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls

In [351]:
df=df.rename(columns={'Estación': 'estacion','Provincia':'provincia','Temperatura máxima (ºC)':'temp_max','Temperatura mínima (ºC)':'temp_min','Temperatura media (ºC)':'temp_med','Racha (km/h)':'viento_racha','Velocidad máxima (km/h)':'viento_vel_max','Precipitación 00-24h (mm)':'prec_dia','Precipitación 00-06h (mm)':'prec_0_6h','Precipitación 06-12h (mm)':'prec_6_12h','Precipitación 12-18h (mm)':'prec_12_18h','Precipitación 18-24h (mm)':'prec_18_24h','source_file':'fecha'})
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,11.0 (20:20),8.7 (04:10),9.8,61 (16:30),39 (18:40),0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls

In [352]:
df=df.replace(to_replace=r'.\(.+\)$', value='', regex=True)
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,11.0,8.7,9.8,61,39,0.0,0.0,0.0,0.0,0.0,aemet\Aemet2019-01-01.xls

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Estación                   24707 non-null  object
 1   Provincia                  24707 non-null  object
 2   Temperatura máxima (ºC)    23650 non-null  object
 3   Temperatura mínima (ºC)    23650 non-null  object
 4   Temperatura media (ºC)     23650 non-null  float64
 5   Racha (km/h)               20072 non-null  object
 6   Velocidad máxima (km/h)    20203 non-null  object
 7   Precipitación 00-24h (mm)  23366 non-null  float64
 8   Precipitación 00-06h (mm)  23565 non-null  float64
 9   Precipitación 06-12h (mm)  23565 non-null  float64
 10  Precipitación 12-18h (mm)  23584 non-null  float64
 11  Precipitación 18-24h (mm)  23563 non-null  float64
 12  source_file                24707 non-null  object
dtypes: float64(6), object(7)
memory usage: 2.6+ MB

In [353]:
df.fecha=df.fecha.replace(regex={'aemet':'','Aemet':'',r'\.+xls':''})# supresión de string.
df.fecha=df.fecha.replace(regex={'\\\\':''})# supresion de backslash.

In [354]:
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,11.0,8.7,9.8,61,39,0.0,0.0,0.0,0.0,0.0,2019-01-01

In [355]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  object
 1   provincia       24707 non-null  object
 2   temp_max        23650 non-null  object
 3   temp_min        23650 non-null  object
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  object
 6   viento_vel_max  20203 non-null  object
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  object
dtypes: float64(6), object(7)
memory usage: 2.6+ MB

In [356]:
df=df.astype({'estacion': 'string','provincia': 'string', 'temp_max':'float64', 'temp_min':'float64', 'viento_racha':'float64', 'viento_vel_max':'float64','fecha': 'datetime64[ns]'})
df['fecha']=pd.to_datetime(df["fecha"].dt.strftime('%Y-%m-%d'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  string
 1   provincia       24707 non-null  string
 2   temp_max        23650 non-null  float64
 3   temp_min        23650 non-null  float64
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  float64
 6   viento_vel_max  20203 non-null  float64
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(10), string(2)
memory usage: 2.6 MB

In [357]:
estaciones_con_nan=df[df.isnull().any(axis=1)]['estacion'].unique()
df.drop(df[df['estacion'].isin(estaciones_con_nan)].index, inplace=True)
df.isna().sum()

estacion          0
provincia         0
temp_max          0
temp_min          0
temp_med          0
viento_racha      0
viento_vel_max    0
prec_dia          0
prec_0_6h         0
prec_6_12h        0
prec_12_18h       0
prec_18_24h       0
fecha             0
dtype: int64

In [358]:
df.iloc[:,np.r_[0:8,12:13]].describe()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia
count,14663.000000,14663.000000,14663.000000,14663.000000,14663.000000,14663.000000
mean,12.558869,2.557737,7.560342,34.010434,19.691741,1.490009
std,4.506435,5.256177,4.350412,17.793154,11.139909,5.890856
min,-5.000000,-20.500000,-7.400000,0.000000,0.000000,0.000000
25%,9.500000,-1.300000,4.500000,20.000000,12.000000,0.000000
50%,12.700000,2.100000,7.300000,30.000000,17.000000,0.000000
75%,15.700000,5.900000,10.200000,45.000000,26.000000,0.000000
max,27.800000,19.100000,21.100000,146.000000,113.000000,132.800000

In [359]:
df.filter(regex='^temp_*', axis=1).sample(5)

     temp_max  temp_min  temp_med
159      12.6      -8.6       2.0
421      11.3      -1.3       5.0
126       9.8       1.0       5.4
585       7.9      -1.1       3.4
191      15.3      12.2      13.8

In [360]:
df.groupby('provincia').mean()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h
provincia,,,,,,,,,,
A Coruña,12.402765,5.505991,8.958065,43.552995,27.073733,3.329954,0.540553,1.136866,0.994009,0.658525
Alacant/Alicante,15.780645,3.768664,9.777880,32.852535,18.253456,0.070968,0.031336,0.003687,0.017512,0.018433
Albacete,12.548387,-0.327419,6.117204,32.806452,17.376344,0.114516,0.031183,0.024194,0.007527,0.051613
Almería,16.347312,7.915591,12.132258,40.731183,27.166667,0.101613,0.061828,0.007527,0.005376,0.026882
Araba/Álava,7.577419,1.049194,4.316129,32.395161,17.387097,5.145161,1.417742,1.216129,0.879032,1.632258
Asturias,11.186380,4.294982,7.743011,32.949821,18.232975,6.780287,1.739068,1.463441,1.688530,1.889247
Badajoz,13.981774,2.197742,8.091935,27.193548,17.250000,0.546935,0.099677,0.061452,0.080645,0.305161
Barcelona,11.641505,1.374409,6.509462,29.066667,16.169892,0.471183,0.138925,0.254409,0.015269,0.062581
Bizkaia,9.935484,4.251613,7.095699,35.903226,20.612903,9.092473,2.565054,2.340860,1.703226,2.483333
Burgos,7.963343,-1.152786,3.408504,35.117302,21.337243,1.789443,0.378592,0.291789,0.421701,0.697361
Cantabria,10.362366,3.130824,6.747312,34.867384,19.806452,8.797133,2.280287,2.204659,2.016487,2.295699
Castelló/Castellón,12.151613,2.311290,7.234274,46.786290,27.669355,0.304032,0.086290,0.055645,0.069355,0.092742
Ceuta,16.893548,11.690323,14.296774,40.774194,19.548387,1.680645,0.470968,0.274194,0.129032,0.806452
Ciudad Real,12.553763,0.368280,6.466129,25.650538,12.962366,0.667742,0.300538,0.141398,0.018817,0.206989
Cuenca,11.349597,-1.510887,4.914919,33.431452,18.096774,0.462903,0.145161,0.029032,0.025806,0.262903
Cáceres,12.834140,2.655108,7.745968,30.719086,18.083333,1.127554,0.209946,0.061828,0.232796,0.622984
Cádiz,15.852581,6.086452,10.973548,31.432258,18.980645,1.730645,0.517097,0.372581,0.119355,0.721613
Córdoba,14.060573,1.767025,7.915771,26.315412,15.935484,0.582079,0.160573,0.096057,0.043728,0.281720
Gipuzkoa,8.743318,3.516129,6.133641,34.336406,17.479263,9.310599,2.297696,2.355300,1.800922,2.856682
Girona,11.814888,-0.041687,5.887593,36.230769,17.754342,0.436476,0.024566,0.153350,0.178164,0.080397
Granada,15.103226,4.912903,10.007527,29.354839,15.784946,0.590323,0.261290,0.152688,0.065591,0.110753
Guadalajara,10.190323,-2.034677,4.082258,32.661290,16.879032,0.650806,0.177419,0.124194,0.109677,0.239516
Huelva,15.991935,4.492258,10.243548,27.958065,16.319355,0.579355,0.136129,0.021613,0.093226,0.328387
Huesca,9.062007,-1.201254,3.931541,36.541219,20.951613,1.475269,0.220789,0.414695,0.407885,0.431900
Illes Balears,14.373253,4.845161,9.612500,40.637097,21.922043,1.288978,0.277554,0.243683,0.293548,0.474194
Jaén,12.953629,2.349597,7.653629,23.596774,12.536290,0.975403,0.283468,0.381452,0.041935,0.268548
La Rioja,8.316774,0.629677,4.471613,39.296774,22.870968,1.772903,0.389677,0.403871,0.441290,0.538065
Las Palmas,19.341642,12.987390,16.167595,35.885630,21.768328,0.249853,0.059677,0.036070,0.046481,0.107625
León,10.100000,-2.183065,3.958871,25.580645,15.370968,2.371774,0.419355,0.507258,0.817742,0.627419
Lleida,9.047465,-2.499539,3.272350,34.834101,20.373272,0.968203,0.031336,0.262673,0.419355,0.254839
Lugo,10.091398,3.115054,6.608602,29.978495,15.139785,4.931183,1.081720,1.270968,1.387097,1.191398
Madrid,11.493011,-0.903763,5.295968,32.287634,17.435484,1.102151,0.271237,0.151344,0.271505,0.408065
Melilla,17.283871,10.203226,13.745161,39.645161,21.032258,0.438710,0.296774,0.025806,0.006452,0.109677
Murcia,16.409926,3.513151,9.962035,32.245658,18.729529,0.025062,0.013896,0.008189,0.002978,0.000000
Málaga,16.453102,7.690571,12.074442,32.119107,17.677419,0.514392,0.194045,0.123573,0.027047,0.169727
Navarra,9.254839,1.770968,5.518280,42.827957,24.831541,4.953763,1.150896,1.300358,1.051613,1.450896
Ourense,11.629032,0.367742,5.987097,16.645161,5.645161,2.880645,0.448387,0.722581,0.938710,0.770968
Palencia,8.712903,-2.071889,3.323963,34.285714,20.557604,0.932719,0.074654,0.107834,0.357604,0.392627
Pontevedra,12.854032,4.472581,8.665323,28.677419,15.298387,6.032258,1.229032,1.656452,1.900000,1.246774
Salamanca,9.401882,-1.515860,3.944086,33.236559,20.637097,0.671505,0.116129,0.067742,0.145699,0.341935
Santa Cruz de Tenerife,17.447628,10.214991,13.833017,35.182163,21.303605,0.784820,0.215560,0.194307,0.156546,0.218406
Segovia,8.146237,-1.939785,3.103226,30.473118,19.994624,1.204301,0.284946,0.081720,0.329032,0.508602
Sevilla,15.679211,3.438710,9.559857,26.114695,15.695341,0.584229,0.136559,0.037634,0.055556,0.354480
Soria,8.900806,-2.257258,3.324597,40.822581,25.991935,1.229435,0.299194,0.171774,0.231855,0.526613
Tarragona,10.874194,2.454839,6.663871,45.354839,25.141935,0.306452,0.076774,0.124516,0.047097,0.058065
Teruel,9.496774,-0.568238,4.469479,43.774194,26.210918,0.512655,0.165509,0.075434,0.064764,0.206948
Toledo,11.882258,0.271774,6.076613,30.137097,18.766129,0.346774,0.066129,0.025806,0.054032,0.200806
Valladolid,9.102151,-2.666129,3.220968,28.629032,17.467742,0.779570,0.059140,0.022581,0.300000,0.397849
València/Valencia,15.633065,2.863710,9.250269,32.115591,17.169355,0.058065,0.037097,0.005376,0.004301,0.011290
Zamora,9.522258,-1.829677,3.847742,32.119355,20.503226,0.672903,0.017419,0.103226,0.162581,0.389677
Zaragoza,10.728387,0.771935,5.754516,42.619355,24.951613,0.489677,0.177419,0.055484,0.058710,0.198065
Ávila,9.515207,-0.869124,4.321659,32.576037,19.990783,0.626728,0.152995,0.016590,0.176959,0.280184

In [361]:
df.sort_values(by='temp_max',ascending=False)[['fecha','estacion','provincia','temp_max']].head(3)

         fecha                 estacion   provincia  temp_max
437 2019-01-13  La Aldea de San Nicolás  Las Palmas      27.8
427 2019-01-26                   Pájara  Las Palmas      25.7
437 2019-01-01  La Aldea de San Nicolás  Las Palmas      25.6

In [362]:
df.sort_values(by='temp_min',ascending=True)[['fecha','estacion','provincia','temp_min']].head(3)

         fecha                 estacion   provincia  temp_min
522 2019-01-21  Villanueva de la Cañada      Madrid     -20.5
639 2019-01-06                  Cuéllar     Segovia     -12.1
763 2019-01-06          Sardón de Duero  Valladolid     -11.8

In [363]:
df['diff_temp_min_max']=df['temp_max']-df['temp_min']
df.iloc[df.reset_index().groupby('provincia')['diff_temp_min_max'].idxmax()].sort_values(by='diff_temp_min_max',ascending=False)[['fecha','estacion','provincia','diff_temp_min_max','temp_min','temp_max']].head(10)

,fecha,estacion,provincia,diff_temp_min_max,temp_min,temp_max
522,2019-01-21,Villanueva de la Cañada,Madrid,30.9,-20.5,10.4
763,2019-01-06,Sardón de Duero,Valladolid,26.6,-11.8,14.8
639,2019-01-06,Cuéllar,Segovia,26.6,-12.1,14.5
272,2019-01-05,Salvacañete,Cuenca,25.6,-8.8,16.8
32,2019-01-01,Villena,Alacant/Alicante,25.5,-6.2,19.3
665,2019-01-15,Burgo de Osma,Soria,25.3,-7.6,17.7
299,2019-01-05,La Vall de Bianya,Girona,25.0,-4.4,20.6
317,2019-01-15,Molina de Aragón,Guadalajara,24.9,-8.5,16.4
223,2019-01-06,"Valderredible, Cubillo de Ebro",Cantabria,24.3,-11.3,13.0
472,2019-01-02,Martinet,Lleida,24.1,-6.2,17.9

In [364]:
df.iloc[df.reset_index().groupby('provincia')['viento_racha'].idxmax()].sort_values(by='viento_racha',ascending=False)[['fecha','estacion','provincia','viento_racha']].head(5)

         fecha                      estacion           provincia  viento_racha
0   2019-01-29               Estaca de Bares            A Coruña         146.0
139 2019-01-29                    Machichaco             Bizkaia         144.0
231 2019-01-27  La Pobla de Benifassà-Fredes  Castelló/Castellón         129.0
370 2019-01-27    Sierra de Alfabia, Bunyola       Illes Balears         127.0
302 2019-01-25                       Espolla              Girona         111.0

In [365]:
df.iloc[df.reset_index().groupby('provincia')['viento_vel_max'].idxmax()].sort_values(by='viento_vel_max',ascending=False)[['fecha','estacion','provincia','viento_vel_max']].head(5)

         fecha           estacion               provincia  viento_vel_max
139 2019-01-23         Machichaco                 Bizkaia           113.0
0   2019-01-29    Estaca de Bares                A Coruña           103.0
726 2019-01-28            Andorra                  Teruel            82.0
688 2019-01-17              Izaña  Santa Cruz de Tenerife            80.0
46  2019-01-28  Láujar de Andarax                 Almería            78.0

In [366]:
df.groupby('provincia').mean()[['viento_vel_max']].sort_values(by='viento_vel_max',ascending=False).head(5)

                    viento_vel_max
provincia
Castelló/Castellón       27.669355
Almería                  27.166667
A Coruña                 27.073733
Teruel                   26.210918
Soria                    25.991935

In [367]:
df['temp_max_shifted']=df.groupby('estacion')['temp_max'].transform('shift')
df['dif_prev_temp_max']=df.temp_max-df.temp_max_shifted
df.iloc[df.reset_index().groupby('provincia')['dif_prev_temp_max'].idxmax()].sort_values(by='dif_prev_temp_max',ascending=False)[['fecha','estacion','provincia','dif_prev_temp_max']].head(5)

         fecha      estacion               provincia  dif_prev_temp_max
725 2019-01-05         Hijar                  Teruel               13.5
674 2019-01-17  Fuencaliente  Santa Cruz de Tenerife               12.6
480 2019-01-25        Talarn                  Lleida               11.4
347 2019-01-05     Almudévar                  Huesca               10.9
92  2019-01-20     Candeleda                   Ávila               10.5

In [368]:
df['llueve']=df.prec_dia.apply(lambda x: 1 if x>0 else 0)

df.sort_values(by=['estacion','fecha'],ascending=True,inplace=True,ignore_index=True)

df['start_of_streak'] = df.llueve.ne(df['llueve'].shift())

df['estacion_anterior']=df['estacion'].shift()
df.loc[(df['estacion'].ne(df['estacion_anterior'])), 'start_of_streak'] = True

df['streak_id'] = df['start_of_streak'].cumsum()
df['dias_seguidos_lloviendo'] = df.groupby('streak_id').cumcount() + 1
df.loc[(df['llueve']==0), 'dias_seguidos_lloviendo'] = 0

df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=False)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

                       estacion  provincia  dias_seguidos_lloviendo
5083                     Elgeta   Gipuzkoa                       25
14631                 Zumarraga   Gipuzkoa                       20
5455                      Forua    Bizkaia                       18
9795                     Orozko    Bizkaia                       18
7966                       Lugo       Lugo                       16
7563                     Llanes   Asturias                       16
30                     A Coruña   A Coruña                       16
11903    Santiago de Compostela   A Coruña                       16
7904   Los Tojos, Bárcena Mayor  Cantabria                       15
9702                    Ordizia   Gipuzkoa                       15

In [369]:
df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=True)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

,estacion,provincia,dias_seguidos_lloviendo
7781,"Lorca, Zarcilla de Ramos",Murcia,0
2542,Belmonte,Cuenca,0
12617,Tazacorte,Santa Cruz de Tenerife,0
1116,Almería Aeropuerto,Almería,0
434,Albox,Almería,0
3100,Buñol,València/Valencia,0
8525,"Mogán, Puerto Rico",Las Palmas,0
13595,Vilafranca del Penedès,Barcelona,1
13473,"València, Viveros",València/Valencia,1
7580,Lleida,Lleida,1

In [370]:
df_estaciones=df[['provincia','estacion']].drop_duplicates().groupby('provincia').count()
df_estaciones.loc['Total de estaciones'] = df_estaciones['estacion'].sum()
df_estaciones

                        estacion
provincia
A Coruña                       7
Alacant/Alicante               7
Albacete                       6
Almería                        6
Araba/Álava                    4
Asturias                       9
Badajoz                       20
Barcelona                     15
Bizkaia                        6
Burgos                        11
Cantabria                      9
Castelló/Castellón             8
Ceuta                          1
Ciudad Real                    6
Cuenca                         8
Cáceres                       24
Cádiz                         10
Córdoba                        9
Gipuzkoa                       7
Girona                        13
Granada                        3
Guadalajara                    4
Huelva                        10
Huesca                        18
Illes Balears                 24
Jaén                           8
La Rioja                       5
Las Palmas                    22
León                           4
Lleida                         7
Lugo                           3
Madrid                        12
Melilla                        1
Murcia                        13
Málaga                        13
Navarra                        9
Ourense                        1
Palencia                       7
Pontevedra                     4
Salamanca                     12
Santa Cruz de Tenerife        17
Segovia                        6
Sevilla                        9
Soria                          8
Tarragona                      5
Teruel                        13
Toledo                         4
Valladolid                     6
València/Valencia             12
Zamora                        10
Zaragoza                      10
Ávila                          7
Total de estaciones          473